{% extends 'accouts.html' %}

{% load static %}
{% block accounts %}
    <div class ="container">
        <div class ="row">
            <div class ="col-lg-6  mx-auto mt-5    shadow bg-body rounded">
                <div class ="col-lg-6 mx-auto pt-5 pl-3 pr-3 pb-5">
                    <h1 class = "row">Choose Option</h1>
                    <a href = "/login"><div class="row mt-5"><button  class =" p-3 btn btn-success">Organization</button></div></a>
                    <a href = "/loginIndivitual"><div class="row mt-5"><button  class =" p-3 btn btn-primary">Indivitual</button></div></a>

                </div>


                </div>
            </div>

        </div>
    </div>
{% endblock accounts%}