{% extends 'accouts.html' %}
{% load static %}
{% block accounts %}
  {% comment %} <div class="main col-lg-5 mx-auto">
        <form action="" method="post">
            {% csrf_token %}
            <span>{{massage}}</span>
            <label for="hospital">Hospital Name</label>
            <input  requiredtype="text" name="hospName" id="hospital"><br>

            <label for="tell">Tell</label>
            <input type="text" name="tell" id="tell"><br>

            <label for="email">Email</label>
            <input type="text" name="email" id="email"><br>

            <label for="userName">userName</label>
            <input type="text" name="userName" id="userName"><br>

            <label for="address">address</label>
            <input type="text" name="address" id="address"><br>

            <label for="password1">Password</label>
            <input type="password" name="password1" id="password1"><br>

            
            <label for="password2">Confirm Password</label>
            <input type="password" name="password2" id="password2"><br>

            <input type="submit" value="Register">
        </form>
    </div> 

    </div> {% endcomment %}















     <section class="" >
       
        <div class="container py-5 h-100" >
            <div class="row d-flex justify-content-center align-items-center h-100"  >
                <div  class = "row"  style= "
                -webkit-box-shadow: 53px -3px 15px 12px rgba(219, 219, 223, 1);
                -moz-box-shadow: 53px -3px 15px 12px rgba(219, 219, 223, 1);
                box-shadow: 53px -3px 15px 12px rgba(219, 219, 223, 1);
                ">

                    <div class = 'col-lg-5' >
                        <img src="/media/src/picture.gif"  class="w-90 h-100 " style=" border-bottom-left-radius: .3rem; border-top-left-radius: .3rem;"alt="Sample photo">
                    </div>

                    <div class="col-lg-7 " style="background-color:white; " >
                        
                        <div class="card-body p-4 p-md-5">
                            
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2 text-center">Register as Organization</h3>
                            <div  id="dangerAlert" role="alert"></div>
      
                 
                            <form action="" method="post" id="register" class="px-md-2 HospitalRegistration">
                                    {% csrf_token %}
                                    <div class="alert text-danger" role="alert">
                                       {{massage}}
                                      </div>
                
                                <div class="form-outline mb-4">
                                <input  required  type="text" id="HospitalName" name='hospName' class="form-control" placeholder='Hospital Name'/>
                                </div>

                
                                <div class="row">
                                <div class="col-md-6 mb-4">
                
                                    <div class="form-outline datepicker">
                                    <input  required  type="text" class="form-control" name = "tell" placeholder = "Tell" id="tell" />
                                    
                                    </div>
                
                                </div>
                                <div class="col-md-6 mb-4">
                                    <input  required  type="email" class="form-control"placeholder = "Email"  name = "email" id="email" />
                                
                
                                </div>
                                </div>


                                    
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                    
                                    <div class="form-outline datepicker">
                                        <input  required  type="text" class="form-control" name = "userName" placeholder = "User Name" id="userName" />
                                        
                                    </div>
                    
                                    </div>
                                    <div class="col-md-6 mb-4">
                                    <input  required  type="text" class="form-control"placeholder = "address"  name = "address" id="Address" />
                                    
                    
                                    </div>
                                </div>


                                    
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                    
                                    <div class="form-outline datepicker">
                                        <input  required  type="password" onkeyup= "checkPasswordLength()" class="form-control" name = "password1" placeholder = "Password" id="password" />
                                        <span id = "passwordHelper"></span>
                                    </div>
                    
                                    </div>
                                    <div class="col-md-6 mb-4">
                                    <input  required type="password" onkeyup="checkconfirmPassword()"  class="form-control"placeholder = "Confirm Password"  name = "password2" id="password2" />
                                    <span id="confirmpasswordHelper"></span>
                    
                                    </div>
                                </div>
                                
                                <div class="row text-center">
                                    <span >Already a member.? <a href="/login"><strong>Log in</strong></a></span>
                                </div>
                                
                
                            <div class="row mt-4">
                
                                <button type="submit" class=" mx-auto  col-lg-7 btn btn-success btn-lg mb-1">SignUp</button>
                            </div>
                
                            </form>
      
                        </div>


              </div>
            </div>
          </div>
        </div>
        
       
      </section> 






      {% endblock accounts %}

      