{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{% static './css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css_styling/styling.css' %}">
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
   
        
        <title>django</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       
        
        
    </head>
    <body >
        {% if user.is_authenticated %}
            {{ redirect_to_login_immediately }}
            
            <div class="container-fluid">
                <div class="row flex-nowrap">
                    {% include 'App/sideBar.html' %}
                    

                    <div class="col ">
                        
                        {% include 'App/navBar.html' %}
                       
                        {% block content %}
                    
                    {% endblock content %}
                    </div>
                    
                </div>
            </div>
                    

                   
                
          
            {% else %}
            <meta http-equiv="REFRESH" content="0;url='/login'">

                
        {%endif%}
       
    </body>
</html>