<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Registration</title>
</head>
<body>
    <div class="main">
        <form action="" method="post">
            {% csrf_token %}
            <span>{{massage}}</span>
            <label for="hospital">Hospital Name</label>
            <input type="text" name="hospName" id="hospital"><br>

            <label for="tell">Tell</label>
            <input type="text" name="tell" id="tell"><br>

            <label for="email">Email</label>
            <input type="text" name="email" id="email"><br>

            <label for="userName">userName</label>
            <input type="text" name="userName" id="userName"><br>

            <label for="password1">Password</label>
            <input type="password" name="password1" id="password1"><br>

            
            <label for="password2">Confirm Password</label>
            <input type="password" name="password2" id="password2"><br>

            <input type="submit" value="Register">
        </form>
    </div>

    </div>
</body>
</html>