{% extends 'base.html' %}


{% block content%}


    <section style="margin-top:30px;">
        <div class = 'container' >
            <div class = "row ">

                <div class = "col-lg-6">
                    {% comment %} searching row {% endcomment %}
                    <div class = 'row'  style="background-color:#D9D9D9;padding:10px 0;">
                        <div class = "col-lg-3">
                            <p>Search By ID</p>
                        </div>

                        <div class = "col-lg-9">

                            <form action="" method="post" class="row">{% csrf_token %}
                                <div class = "col-lg-6">
                                    <input type="text" class="" name="ID" id="ID" >
                                </div>

                                <div class = "col-lg-6">
                                    <input type="submit" value="Search ID" class=" btn btn-primary">
                                </div>
                                
                                
                            </form>
                        </div>
                       
                    </div>
                    <!--   ########################################################################################  -->

                
            
                    
                
                    
                    {% for cat in patient%}
                    
                        <div class = 'row patientInfo ' style="background-color:#D9D9D9; margin-top:20px; padding: 20px">
                            <div class = 'row'>
                                <p class = 'col-lg-6'>Patient Name : </p>
                                <p class = 'col-lg-6'>{{cat.patientName}}</p>
                            </div>

                            <div class = 'row' style = "margin-top:10px">
                                <p class = 'col-lg-6'>Patient Tell : </p>
                                <p class = 'col-lg-6'>{{cat.patientTell}}</p>
                            </div>

                            <div class = 'row' style = "margin-top:10px">
                                <p class = 'col-lg-6'>Patient Age : </p>
                                <p class = 'col-lg-6'>{{cat.paientAge}}</p>
                            </div>

                            <div class = 'row' style = "margin-top:10px">
                                <p class = 'col-lg-6'>Patient Gender :</p>
                                <p class = 'col-lg-6'> {{cat.patientGenter}}</p>
                            </div>

                            <div class = 'row' style = "margin-top:10px">
                                <p class = 'col-lg-6'>Patient Address :</p>
                                <p class = 'col-lg-6'> {{cat.patientAddress}}</p>
                            </div>

                            <div class = 'row' style = "margin-top:10px">
                                <p class = 'col-lg-6'>Test Type:</p>
                                <p class = 'col-lg-6'>{{cat.testType}}</p>
                            </div>

                            
                            <div class = 'row ' style = "margin-top:10px;  ">
                                <p class = 'col-lg-6'>Registration Date:</p>
                                <p class = 'col-lg-6'>{{cat.patientRegDate}}</p>
                            </div>
                            
                        </div>
                    {% endfor %}
                    <div class="alert" >
                        {{person}}
                      </div>
                  
                       

                </div>


               
                {% for cat in patient%}
                <div class = "col-lg-5">
                    <form action="" method="post" >{% csrf_token %}
                        <div class = 'row'>
                            <h3 > Test Type : {{cat.testType}}</h3>
                        </div>     
                        <div class = 'row' style="margin-top:40px; "> 
                            <img src="{{imag}}" width= 'auto'  height ="350px"  name="image"  alt="">
                            <input type="text" hidden value="lllllll" name="pridicts">
                        </div>
                        <div class = 'row' style="margin-top:10px;padding:0 10px">
                            <input type="submit" value="Pridict" class=" btn btn-primary">
                        </div>
                        <h5>{{output}}</h5>    
                    </form>  

                </div>
                {% endfor %}
          
            </div>
    



        
            {% if patient   %}

            {% else %}
                <div class = 'row '>
                    <table class="table col-lg-12 table-bordered border-dark">
                        <thead class = "table-dark">
                            <tr>
                            
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Tell</th>
                            <th scope="col">Age</th>
                            <th scope="col">Test Type</th>
                            <th scope="col">Sex</th>
                            <th scope="col">Address</th>
                            <th scope="col">RegDate</th>
                            <th scope="col">Image</th>
                            </tr>
                        </thead>
                        
                        {% for notPridicted in notPridicted %}
                           
                        
                            <tbody>
                            <tr>
                            
                                
                                <td >{{notPridicted.patientID}}</td>
                                <td >{{notPridicted.patientName}}</td>
                                <td >{{notPridicted.patientTell}}</td>
                                <td >{{notPridicted.paientAge}}</td>
                                <td >{{notPridicted.testType}}</td>
                                <td >{{notPridicted.patientGenter}}</td>
                                <td >{{notPridicted.patientAddress}}</td>
                                <td >{{notPridicted.patientRegDate}}</td>
                
                                
                                <td >{{notPridicted.patientXrayImage}}</td>
                            </tr>
                            </tr>
                            </tbody>
                        
                
                
                        
                
                        {% endfor %}
                    </table>
                </div>
                
            {% endif %}
        </div>
    
    </section>







    

{% endblock content%}





